/* Css Main Container */
.container-user, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

/*Css for rowAlignment style*/
.rowAlignment {
  padding: 0 15px;
  margin-top: 5px;
}

/* Css for form control */
.form-group{
margin-left: 30px;
margin-top: -10px;
}

/* Add/Update button for disable */
 .btn-add{
    color: white ;
    border-radius: 12px;
    width: 7.2rem;
    height: 2.18rem;
    margin-top: 0.5rem;
    margin-left: 1.56rem;
    border: 1px solid #A21E25;
    background-image: linear-gradient(to top, #A21E25, #E11E25);
}

 /*Css for Clear button*/
.btn-clear{
    background: white;
    color: #CC1F25;
    border-radius: 12px;
    width: 7.2rem;
    height: 2.18rem;
    border-color: #CC1F25;
    margin-top: 0.5rem;
    margin-left: 2.6rem;
    margin-right: 1rem;
  }

  
 /* Css Ng2-smart table */
 .t-size {
  line-height: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 95%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  margin-left: 21px;
}

/*  Css for right side card*/
  .cardRight {
    position: relative;
    color: #c32f27;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
    width: 100%;
    margin-left: 32px;
    margin-right: -32px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,.1);
    /* margin-right: 19px; */
  }

/* Css for left side card */
  .cardLeft{
    position: relative;
    color: #c32f27;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
    width: 100%;
    height: 675px;
    margin-top: 2px;
    margin-left: 20px;
    box-shadow: 0 0 10px 4px rgba(0,0,0,.1);
    /* margin-left: 19px; */
  }

  /* Css for button on right side */
  .pull-right{
    margin-top: -1px;
    float: right;
    margin-right: 9px;
  }

/* padding top pagination  */
.ng2-smart-pagination-nav {
  margin-top: 2rem;
  }

/* pagination color  */
.page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: steelblue;
    border-color: steelblue;;
}

/* Pagination of Smart table (on-hover) */
.page-link:hover {
  z-index: 2;
  color: #CC1F25;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

/* Pagination of Smart table : Page Link alignment */
.ng2-smart-pagination .page-link {
font-size: 0.875rem !important;
color: #CC1F25;
}

/* Pagniation of table in Right */
.ng2-smart-table-pager {
  text-align: right ;
  display: contents ;
}

  .nav-pills .nav-link.active {
    background-color: grey;
    color: #fff;
  }
  
  .nav-pills .nav-link {
    color: #000;
  }
  
  .modal-dialog {
    margin-top: 20rem;
  }

  .form-control.ng-touched.ng-invalid{border:1px solid red;}
  .form-control.ng-valid{border:1px solid green;}
 
  .form-control-feedback{
    font-size: 14px !important;
  }
   

