/* Css Main-container */
.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Css for background image */
.bgimg{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/*Css for logo image*/
.logoimg{
  margin-top: 10px;
  margin-left: -162px;
}

/* Header text css */
.header-text{
  color: grey;
  font-size: 22px;
  position: absolute;
  margin-top: 0rem;
  margin-left: -133px;
  text-align: center;
  font-weight: 600;
}

/* CSS Error messages */
.invalid-feedback{
  display: inline-block;
  position: fixed;
  margin-left: -250px;
  margin-top: 45px;
  font-size: 80%;
  color: red;
}

/* CSS Error messages */
.invalidlogin-text{
  color: red;
}

/*Css Login button  */
.btn-submit {
  width: 100%;
  margin-bottom: 10px;
  margin-top: -5px;
  background-color: #0264d6;
  color: #fff;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;
}

body {
   
   color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

/* ---------- LOGIN Box ---------- */

 #login form{
	width: 250px;
}

#login{
  padding: 0px 22px;
  width: 59%;
  margin-left: -294px;
  margin-top: 75px;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 45px;
  font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 45px;
}

fieldset{
    padding:0;
    border:0;
    margin: 0;
}

#login form input[type="text"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	margin-bottom: 30px;
	padding: 0 16px;
	width: 200px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: darkgrey;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  height: 40px;
  width: 200%;
}

#login form input[type="submit"]:hover {
	background-color: #d44179;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
