<!-- Background main image -->
<div class="main-container " [@fadeIn]>
  <img src="./assets/images/login_bcg.png" class="bgimg">
  <!-- Container for login form -->
  <div class="col-md-auto">
  <form class=" col-4 col-sm-4  form-horizontal " [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="text-center form-group">
      <img src="./assets/images/lnt_logo.png">
      <h4 class="text-center text-secondary font-weight-normal form-group">Yard Management</h4>
    </div>
    <div class="form-group">
      <i class="fa fa-user"></i>
      <input type="text" class="form-control " formControlName="username" id="userId"
        [ngClass]="{ 'is-invalid': submitted && getForm.username.errors }" Placeholder="Username"
        [(ngModel)]="selectedUsername" />
      <div class="form-control-feedback"
        *ngIf="getForm.username.errors && (getForm.username.dirty || getForm.username.touched)">
        <div class="text-danger" *ngIf="getForm.username.errors.required">Username required</div>
      </div>
    </div>
    <div class="form-group">
      <span class="fa fa-lock"></span>
      <input type="password" class="form-control" formControlName="password"
        [ngClass]="{ 'is-invalid': submitted && getForm.password.errors }" Placeholder="Password"
        [(ngModel)]="selectedPassword" />
      <div class="form-control-feedback"
        *ngIf="getForm.password.errors && (getForm.password.dirty || getForm.password.touched)">
        <div class="text-danger" *ngIf="getForm.password.errors.required">Password Required</div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-control-feedback">
        <button type="submit" class="form-control btn btn-primary " [disabled]="!loginForm.valid">Log
          in</button>
        <div class="text-center" *ngIf="notValidLogin">
          <span class="text-danger">Username or password is incorrect</span>
        </div>
      </div>
    </div>
  </form>
</div>
</div>